<a href="https://colab.research.google.com/github/CBravoR/AdvancedAnalyticsLabs/blob/master/Lab_1_Introduction_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Markdown

Now we can use cells!

This is markdown cell. We can write **augmented html** here. Markdown has *many* options. I suggest reading the tutorial <a href="https://www.markdowntutorial.com/">here</a>.

Some basics:

- Starting a line with a dash ("-") creates a vignetted list.

- Writing a sentence between two asteriks (like `**this**`) **bolds it**.

- Writing a sentence between one asterisk (like `*this*`)*emphazises it* (italics).

- To write verbatim, use "code" formatting. Surrounding a sentence with grave accents writes it as you wrote it.  `I can write without getting words *emphasized* nor **bolded**`.

- To write a block of code, add three grave accents (```) both at the beginning and the end.

```
This is a block of code.
Many lines can be written verbatim.
**no bolding**, *nor emphasis* is applied.
```

To create an enumeration, simply add the number and a dot.

1. I am number one.

2. And I number two.

3. And me number three.

Titles and subtitles are written using multiple hash signs.

# Title 1
## Title 2
### Tittle 3


And, remember this is HTML! You can use everything the language offers. Some other useful tricks:

- Create a hyperlink: [I link to Google!](http://www.google.com). (Write `[I link to Google!](http://www.google.com)`, or more generally, `[any text you want](any address you want to go to)`)

- Add an image:

![University logo](https://upload.wikimedia.org/wikipedia/commons/a/a7/University_of_Southampton_Logo.svg)

Write `![University logo](https://upload.wikimedia.org/wikipedia/commons/a/a7/University_of_Southampton_Logo.svg)` or, more generally, `![alt-text](link-to-figure)`. You can also use relative paths if the figures are local, i.e., `![alt-text](University_of_Southampton_Logo.svg)` looks for 'University_of_Southampton_Logo.svg' in your own folder.

Many more things can be done. A short cheatsheet is available [here](https://github.com/adam-p/markdown-here/wiki/Markdown-Here-Cheatsheet)

# Our first program: Python as a calculator

We will now start using Python! Python is really simple:

In [0]:
# Comment using the hash sign.
# A simple sum.
1+1

In [0]:
# Variables are assigned using the equal '=' sign.

a = 1
a

In [0]:
# Variables can be many things!
a = 1
b = 'Hi!'


# We can show the value of a variable using the "print" function.
# Functions in general are NAME(VARIABLES)
print(a)
print(b)

In [0]:
# You can add variables of the same type! They behave as you would expect
# Sum two text variables to concatenate them
c = ' How are you?'
b + c

In [0]:
# You can index using square brackets: []

# IMPORTANT: PYTHON INDEXES START AT 0

# Let's extract the first letter of our variable 'b'.

b[0]

In [0]:
b[1]

In [0]:
b[0] + b[1]

Remember: **Indexes start at zero!**

# Lists

The basic data structure is a list. A list is simply a collection of things. Let's create a list called 'my_list'

In [0]:
my_list = [1, 'Hello!', 3, 4.57]

In [0]:
my_list[0] + my_list[3]

In [0]:
my_list[1]

What happens if we add two different types?

In [0]:
my_list[1] + my_list[3]

To read the error: always start at the end, it will hint what's wrong. In this case, it is the 

```
TypeError: must be str, not float
```
That suggests that something (in this case 'my_list[3]') must be a string, not a float (a decimal number). Python does **not** allow for operating over multiple types. We must convert to the same type first. We can't really turn a string into a number, but we can do the opposite.

We will use the internal function ```str()``` to turn the number into a string. The full list of internal functions [can be found here](https://docs.python.org/3/library/functions.html).

In [0]:
my_list[1] + str(my_list[3])

In [0]:
# Making it a bit nicer looking
my_list[1] + ' ' + str(my_list[3])

Strings can be written surrounding them by either the `"` symbol or the `'` symbol.

In [0]:
'I am a string'

In [0]:
"I am also a string"

# Loops:

All the traditional looping operators are implemented in Python of course.

## While loops

In [0]:
current_value = 1
while current_value <= 5:
    print(current_value)
    current_value += 1

Let's look at the code in detail:
```
current_value = 1
while current_value <= 5:
    print(current_value)
    current_value += 1
```

- The line `current_value = 1` simply creates a variable `current_value` and assigns it the value 1.

- Then the while loop starts. `while current_value <= 5:`. This line simply says "do stuff until the value of current_value is 5".

- **Note the indentatation**. Indent is the way we separate blocks in Python. Everything that is indented is part of the while (i.e., the following two lines).

- The line `print(current_value)` prints the value of the variable current_value. We can write complex expressions!

- the line `current_value += 1` is equivalent to writing `current_value = current_value + 1`. It adds one to current_value. 

Python allows for many ways to compare variables.

### Conditional statements

We can write conditional statements using the `if... else...` operators.

General structure:

```
if [condition]:
    (Operations)
elif [other conditions]:
    (Other operations)
else:
    (More operations)
```

Conditions can be:
- Equality comparison: '=='. For example.

In [0]:
a = 'bmw'
b = 'audi'
a == b

In [0]:
a == a

- Negation is done with an exclamation sign.

In [0]:
# Not equal to:
a != b

- Greater than or lower than

In [0]:
a = 1
b = 2

In [0]:
a < b

In [0]:
a > b

In [0]:
b < a

- Greater or equal (>=), lower or equal (<=)

In [0]:
a <= b

In [0]:
b - 1 <= a

In [0]:
a + 1 >= b

Logical operators:

- `and`
- `or`

In [0]:
a = 1
b = 2
c = 'BMW'
d = 'Audi'

In [0]:
a < b and c == d

In [0]:
a < b and c != d

In [0]:
a < b or c == d

These can be combined.

In [0]:
(a < b and c == d) or (a + 1 >= b)

### For loops

First, we need to understand the `range()` function. As the name implies, it creates ranges of numbers for iterating on. 

Important: **It does NOT include the last one**.

In [0]:
my_range = range(1,10)

In [0]:
my_range[0]

In [0]:
my_range[8]

In [0]:
# There is no 10 value. This throws an error.
my_range[9]

We can now create a "for" loop. This one will iterate over a certain value.

In [0]:
for i in range(1, 10):
    print('The current value is: ', i)

Note that range creates an `Ã¬terator` (something to iterate from). To see the values, list them.

In [0]:
# Nothing will be printed. The range function returns an iterator.
range(0,10)

In [0]:
# Turn iterator into list. Now we see the values.
list(range(0,10))

# Self Study
A detailed Python tutorial is available [here](https://docs.python.org/3/tutorial/). Go through it until Chapter 5 (inclusive). Next week we'll continue with modules, packages, and more sophisticated approaches!

As an exercise, create a program that adds the numbers from 1 to 100, and every 10 numbers prints "The current value is  `N`" with `N` the number. (i.e. "The current value is 10", "The current value is 20", ...).